/* color variables */
:root {
    --background: rgba(0, 0, 0, 1);
    --foreground: rgba(170, 170, 170, 1);

    --black: rgba(0, 0, 0, 1);
    --red: rgba(170, 0, 0, 1);
    --green: rgba(0, 170, 0, 1);
    --yellow: rgba(170, 85, 0, 1);
    --blue: rgba(0, 0, 170, 1);
    --magenta: rgba(170, 0, 170, 1);
    --cyan: rgba(0, 170, 170, 1);
    --white: rgba(170, 170, 170, 1);

    --brigh_black: rgba(85, 85, 85, 1);
    --brigh_red: rgba(255, 85, 85, 1);
    --brigh_green: rgba(85, 255, 85, 1);
    --brigh_yellow: rgba(255, 255, 85, 1);
    --brigh_blue: rgba(85, 85, 255, 1);
    --brigh_magenta: rgba(255, 85, 255, 1);
    --brigh_cyan: rgba(85, 255, 255, 1);
    --brigh_white: rgba(255, 255, 255, 1);
}